name: CI

on:
  push:
    branches:
      - '*'
    paths:
      - 'test/**'
      - 'src/**'
      - '.github/workflows/**'
      - 'Project.toml'
  pull_request:
    branches:
      - master
    paths:
      - 'test/**'
      - 'src/**'
      - '.github/workflows/**'
      - 'Project.toml'

jobs:
  test:
    name: Julia ${{ matrix.julia-version }} - ${{ matrix.os }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        julia-version:
          - '1'
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
        include:
          - os: ubuntu-latest
            julia-version: '1.7'
          - os: ubuntu-latest
            julia-version: '1.6'

    steps:
      - uses: actions/checkout@v2
      - name: "Set up Julia"
        uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
      - name: "Cache artifacts"
        uses: julia-actions/cache@v1
      - name: "Build package"
        uses: julia-actions/julia-buildpkg@v1
      - name: "Run tests"
        run: |
            julia --color=yes -e 'import Pkg; Pkg.add("Coverage")'
            julia --color=yes --threads=auto --check-bounds=yes --depwarn=yes --code-coverage=user -e 'import Coverage; import Pkg; Pkg.activate("."); Pkg.test(coverage=true)'
            julia --color=yes coverage.jl
        shell: bash
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          parallel: true
          path-to-lcov: lcov.info
          flag-name: julia-${{ matrix.julia-version }}-${{ matrix.os }}-main-${{ github.event_name }}

  additional_tests:
    name: test ${{ matrix.test_name }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-latest"
        julia-version:
          - "1"
        test_name:
          - "enzyme"
          - "jet"
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/cache@v1
      - uses: julia-actions/julia-buildpkg@v1
      - name: Run tests
        id: run-tests
        continue-on-error: ${{ matrix.test_name == 'enzyme' }}
        run: |
            julia --color=yes -e 'import Pkg; Pkg.add("Coverage")'
            SR_TEST=${{ matrix.test_name }} julia --color=yes --threads=auto --check-bounds=yes --depwarn=yes --code-coverage=user -e 'import Coverage; import Pkg; Pkg.activate("."); Pkg.test(coverage=true)'
            julia --color=yes coverage.jl
        shell: bash
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        if: steps.run-tests.outcome == 'success'
        with:
          parallel: true
          path-to-lcov: lcov.info
          flag-name: julia-${{ matrix.julia-version }}-${{ matrix.os }}-${{ matrix.test_name }}-${{ github.event_name }}


  coveralls:
    name: Indicate completion to coveralls
    runs-on: ubuntu-latest
    needs:
      - test
      - additional_tests
    steps:
      - name: Finish
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true

